{% extends "::base.html.twig" %}

{% block title %}{{content.title}}{% endblock %}
{% block description %}{{content.intro}}{% endblock %}
{% block keywords %}{{content.keywords}}{% endblock %}

{% block body %}
<h1>
    <a href='' >
        {{ content.title }}
    </a>
</h1>

<h2>
  <a href="{{ path('homepage') }}">
   Alessandro Nadalin
  </a>
</h2>

<div class="date">
  {{ content.publishedAt | date('l, jS F Y') }}
</div>


<div class="body">
    {% autoescape false %}
      {{ content.body|format }}
    {% endautoescape %}
  <p>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="_odino_">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </p>
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://odino.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=odino">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>



{% endblock %}