{% block menu %}
    <div class='rss'>
        <a href="{{ path('homepage') }}">
            HOME
        </a>
        <a href="{{ path('about') }}">
            ABOUT
        </a>
        <a href="{{ path('conferences') }}">
            CONFERENCES
        </a>
        <a href="http://twitter.com/_odino_">
            TWITTER
        </a>
        <a href="{{ path('tags') }}">
            TAGS
        </a>
        <a href="{{ path('rss') }}">
            RSS
        </a>
    </div>
{% endblock %}